// Fonts
@import url("https://fonts.googleapis.com/css?family=Roboto:300");

// Colors
$primary: linear-gradient(to right, #396afc, #2948ff);
$background: #e2e2e2;
$background: #f0f0f0;
$secondary: #c9d6ff;
$border-color: white;
$btn-color: white;
$btn-background: black;

$size: 20px;
$user-input-height: 20px;
